name: Deploy to GCP GKE

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Authenticate to GCP
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Configure Docker
      run: |
        gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

    - name: Build Docker image
      run: |
        docker build -t fastapi-demo .

    - name: Tag image
      run: |
        docker tag fastapi-demo \
          us-central1-docker.pkg.dev/fastapi-migration-demo/fastapi-repo/fastapi-demo:latest

    - name: Push image
      run: |
        docker push \
          us-central1-docker.pkg.dev/fastapi-migration-demo/fastapi-repo/fastapi-demo:latest

    - name: Get GKE credentials
      uses: google-github-actions/get-gke-credentials@v1
      with:
        cluster_name: fastapi-gke
        location: us-central1-a
        project_id: fastapi-migration-demo

    - name: Deploy to GKE
      run: |
        kubectl set image deployment/fastapi-demo fastapi-demo=us-central1-docker.pkg.dev/fastapi-migration-demo/fastapi-repo/fastapi-demo:latest
        kubectl rollout status deployment/fastapi-demo